{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block h1 %}<h1 class="text-center p-5">Bienvenue</h1>{% endblock %}

{% block body %}

    <img class="" src="{{ asset('images/AP.jpg') }}" alt="">
    <img class="" src="{{ asset('images/images.jpg') }}" alt="">
    <img class="" src="{{ asset('images/téléchargement.jpg') }}" alt="">


{% endblock %}